.result {
    width: min(300px, 100%);
    box-sizing: border-box;
    padding: 30px;
    border-radius: 14px;
    background-color: whitesmoke;
    & > a {
        width: 100%;
        & > img {
            width: 100%;
        }
    }
}